<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Spins</title>
  </head>
  <body>
    <%- include('../partials/_mainnav.ejs') %>
    <h2>Hi, <%= user.username %>!</h2>
    <img src="<%= user.avatar %>" alt="User Avatar" style="width: 100px; height: 100px; border-radius: 50%;">
    <h1>Here Are Your Top 3 Songs</h1>
    <a href="/users/<%= user._id %>/profile/new">Add Songs</a>
    <ul>
      <% if (songs && songs.length > 0) { %>
        <% songs.forEach((song) => { %>
          
          <li><a href="/users/<%= user._id %>/profile/<%= song._id %>"><%= song.title %> - <%= song.rankText %></a>
          </li>
        <% }) %>
      <% } else { %>
        <li>No songs added yet.</li>
      <% } %>
    </ul>
  </body>
</html>
