<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= song.title %></title>
  </head>
  <body>
    <%- include('../partials/_mainnav.ejs') %>
<div>
    <h4>
        <%= user.username %>
    </h4>
    <img src="<%= user.avatar %>" alt="User Avatar" style="width: 100px; height: 100px; border-radius: 50%;">
</div>
    <h1><%= song.title %> by <%= song.artist %></h1>
    <% if (song.comment) { %>
    <p>Why: <%= song.comment %></p>
    <% } %> <% if (song.mp3Url) { %>
    <a href="<%= song.mp3Url%>">View job posting</a>
    <% } %>
    
    <a href="/users/<%= user._id %>/profile/<%= song._id %>/edit">
        Edit this song
      </a>

    <form action="/users/<%= user._id %>/profile/<%= song._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete this song</button>
    </form>
  </body>
</html>
